build/
node_modules/
/artifacts/
/.vscode/
*.tsbuildinfo
.clinic/
.envrc

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

junit*.xml

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf
.idea/material_*.xml
.idea/copilot*.xml

**/.claude/settings.local.json
