version: 2.1

orbs:
  node: circleci/node@5.0.1

workflows:
  version: 2
  workflow:
    jobs:
      - build:
          matrix:
            parameters:
              node-version: ["18.0.0", "18.10.0", "20.5.0"]

jobs:
  build:
    parameters:
      node-version:
        description: Node version to run tests under (set by matrix build config)
        type: string
    machine:
      image: ubuntu-2204:2022.04.1
    resource_class: large
    steps:
      - checkout
      - node/install:
          node-version: << parameters.node-version >>
      - node/install-packages:
          pkg-manager: yarn
      - run: yarn build
      - run:
          name: Start Postgres database
          command: |
            docker compose build db
            docker compose up db --wait
      - run:
          name: Run migrations
          command: yarn migrate
      - run:
          name: Run codegen
          command: yarn codegen
      - run:
          name: Run tests
          command: yarn test
      - store_test_results:
          path: ./artifacts
      - when:
          condition:
            and:
              - equal: [main, << pipeline.git.branch >>]
              - equal: ["20.5.0", << parameters.node-version >>]
          steps:
            - run:
                name: Release
                command: yarn semantic-release
