version: 2.1

orbs:
  node: circleci/node@5.0.1

workflows:
  version: 2
  workflow:
    jobs:
      - build:
          matrix:
            parameters:
              node-version: ["lts/fermium", "16.4.0"]

jobs:
  build:
    parameters:
      node-version:
        description: Node version to run tests under (set by matrix build config)
        type: string
    machine:
      image: ubuntu-2004:202104-01
    steps:
      - checkout
      - node/install:
          node-version: << parameters.node-version >>
      - node/install-packages:
          pkg-manager: yarn
      - run: yarn build
      - run:
          name: Start Postgres database
          command: |
            cd packages/integration-tests
            docker-compose build db
            docker-compose up db-wait
      - run:
          name: Run migrations & codegen
          command: |
            cd packages/integration-tests
            ./run.sh ../migration-utils/build/index.js
            ./run.sh ../codegen/build/index.js
            cd ../tests/schema-misc
            yarn migrate
            ./run.sh ../../codegen/build/index.js
            cd ../uuid-ids
            ./run.sh ../../migration-utils/build/index.js
            ./run.sh ../../codegen/build/index.js
            cd ../untagged-ids
            ./run.sh ../../migration-utils/build/index.js
            ./run.sh ../../codegen/build/index.js
            cd ../camel-cased
            ./run.sh ../../migration-utils/build/index.js
            ./run.sh ../../codegen/build/index.js
      - run:
          name: Run tests
          command: |
            yarn test
      - store_test_results:
          path: ./artifacts
      - when:
          condition:
            and:
              - equal: [main, << pipeline.git.branch >>]
              - equal: ["lts/fermium", << parameters.node-version >>]
          steps:
            - run:
                name: Release
                command: yarn semantic-release
