version: 2.1

orbs:
  node: circleci/node@5.0.1

workflows:
  version: 2
  workflow:
    jobs:
      - build:
          matrix:
            parameters:
              node-version: ["lts/fermium", "16.4.0"]

jobs:
  build:
    parameters:
      node-version:
        description: Node version to run tests under (set by matrix build config)
        type: string
    machine:
      image: ubuntu-2004:202104-01
    steps:
      - checkout
      - node/install:
          node-version: << parameters.node-version >>
      - node/install-packages:
          pkg-manager: yarn
      - run: yarn build
      - run:
          name: Start Postgres database
          command: |
            cd packages/integration-tests
            docker-compose build db
            docker-compose up db-wait
      - run:
          name: Run migrations
          command: |
            cd packages/integration-tests
            ./run.sh ../migration-utils/build/index.js
            cd ../tests/uuid-ids
            ./run.sh ../../migration-utils/build/index.js
      - run:
          name: Run integration-tests
          command: |
            cd packages/integration-tests
            yarn test --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT_DIR: /tmp/reports/junit/
      - run:
          name: Run uuid-ids tests
          command: |
            cd packages/tests/uuid-ids
            yarn test --reporters=default --reporters=jest-junit
          environment:
            JEST_JUNIT_OUTPUT_DIR: /tmp/reports/junit/
            JEST_JUNIT_OUTPUT_NAME: junit-uuid-ids.xml
      - store_test_results:
          path: /tmp/reports/junit/
      - store_artifacts:
          path: /tmp/reports/junit/
      - when:
          condition:
            and:
              - equal: [main, << pipeline.git.branch >>]
              - equal: ["lts/fermium", << parameters.node-version >>]
          steps:
            - run:
                name: Release
                command: yarn semantic-release
