version: 2.1

orbs:
  node: circleci/node@6.1.0

workflows:
  version: 2
  workflow:
    jobs:
      - build:
          matrix:
            parameters:
              node-version:
                - "22" # EOL 30 Apr 2027
                - "24" # EOL 30 Apr 2028
                - "25" # Current
                - "bun"

jobs:
  build:
    parameters:
      node-version:
        description: Node version to run tests under (set by matrix build config)
        type: string
    machine:
      image: ubuntu-2404:current
    resource_class: large
    steps:
      - checkout

      - when:
          condition:
            not:
              equal: [<< parameters.node-version >>, bun]
          steps:
            - node/install:
                node-version: << parameters.node-version >>
                install-yarn: true
            - node/install-packages:
                pkg-manager: yarn
      - when:
          condition:
            equal: [<< parameters.node-version >>, bun]
          steps:
            - node/install:
                node-version: "24"
                install-yarn: true
            - node/install-packages:
                pkg-manager: yarn
            - run:
                name: Install Bun
                command: |
                  curl -fsSL https://bun.sh/install | bash
                  echo 'export PATH="$HOME/.bun/bin:$PATH"' >> $BASH_ENV

      - run: yarn build
      - run:
          name: Start Postgres database
          command: |
            docker compose build db
            docker compose up db --wait
      - run:
          name: Run migrations
          command: yarn migrate
      - run:
          name: Run codegen
          command: yarn codegen

      # For all Node targets, run everything -- except tests/bun (run in a separate job)
      - when:
          condition:
            not:
              equal: [<< parameters.node-version >>, bun]
          steps:
            - run:
                name: Run tests
                command: yarn workspaces foreach --worktree --parallel --include 'packages/tests/*' --include packages/orm --exclude packages/tests/bun run test
      # For bun (with the default node-pg/knex driver), run only the bun:test-based tests
      - when:
          condition:
            equal: [<< parameters.node-version >>, bun]
          steps:
            - run:
                name: Run tests
                command: yarn workspace joist-tests-bun run test

      - store_test_results:
          path: ./artifacts
      - when:
          condition:
            and:
              - equal: [main, << pipeline.git.branch >>]
              - equal: ["22", << parameters.node-version >>]
          steps:
            - run:
                name: Release
                command: yarn semantic-release
