name: github pages

permissions:
  contents: read
  pages: write
  id-token: write

on:
  push:
    branches:
      - main
    paths:
      - ".github/workflows/gh-pages.yml"
      - "docs/**"
  pull_request:
    paths:
      - ".github/workflows/gh-pages.yml"
      - "docs/**"
  # Allows you to run this workflow manually from the Actions tab on GitHub.
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout your repository using git
        uses: actions/checkout@v5
      - name: Install, build, and upload your site
        uses: withastro/action@v4
        with:
          path: docs
          package-manager: yarn
          node-version: 24.12.0

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
